<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login here</h1>
    <form action="/user" method="post">
        <label>Enter the name</label>
        <input type="text" required name="name">
        <label>Enter the email</label>
        <input type="text" required name="email">
        <label>Enter password</label>
        <input type="text" required name="password">

        
        <button type="submit">Login</button>

    </form>
</body>
</html>